
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="Hotcat, Restaurant, Food">
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>HotCat Restaurant</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">    
    <link href="~/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Zilla+Slab&display=swap"
          rel="stylesheet" />
</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="/Home/index" class="logo">HotCat<span> Restaurant</span></a>
            <!--logo end-->
            <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <img alt="" src="~/Content/img/avatar1_small.jpg">
            <span class="username">Jhon Doue</span>
            </a>
            <ul class="dropdown-menu extended logout">
            <div class="log-arrow-up"></div>
            <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
            <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
            </ul>
            </li>
            <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
            </div>
            </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="/Home/index">
                            <i class="icon-dashboard"></i>
                            <span>Anasayfa</span>
                        </a>    
                    </li>
                     <!--multi level menu start-->
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-sitemap"></i>
                            <span>Kategoriler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/Home/index">Bütün Menüler</a></li>
                            <li class="sub-menu">
                                <a href="boxed_page.html">Kore Yemekleri</a>
                                <ul class="sub">                                  
                                    <li><a asp-action="index" asp-controller="home">Korean Ramen</a></li>                           
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="boxed_page.html">Çin Yemekleri</a>
                                <ul class="sub">                                    
                                    <li><a asp-action="index" asp-controller="home">China Ramen</a></li>                                                         
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="boxed_page.html">Japon Yemekleri</a>
                                <ul class="sub">                                     
                                    <li><a asp-action="index" asp-controller="home">Japan Ramen</a></li>                                                           
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--multi level menu end-->

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-glass"></i>
                            <span>Admin Page</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-area="admin" asp-controller="product" asp-action="index">Products</a></li>
                            <li><a asp-area="admin" asp-controller="category" asp-action="index">Categories</a></li>
                            <li><a asp-area="admin" asp-controller="subcategory" asp-action="index">SubCategories</a></li>
                            <li><a asp-area="admin" asp-controller="Employee" asp-action="index">Employees</a></li>
                            <li><a asp-area="admin" asp-controller="department" asp-action="index">Departments</a></li>
                            <li><a asp-area="admin" asp-controller="order" asp-action="index">Orders</a></li>
                            <li><a asp-area="admin" asp-controller="orderdetail" asp-action="index">Order Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="icon-user"></i>
                            <span>Login Page</span>
                        </a>
                    </li>                  
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2013 &copy; FlatLab by VectorLab.
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/js/respond.min.js"></script>

    <script class="include" type="text/javascript" src="~/Content/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="~/Content/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/Content/js/sparkline-chart.js"></script>
    <script src="~/Content/js/easy-pie-chart.js"></script>
    <script src="~/Content/js/count.js"></script>

    <script>

        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 1000,
                paginationSpeed: 1000,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>
    @*@RenderSection("scripts",false)*@
</body>
</html>
