@{
    ViewData["Title"] = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Üyeliğinizi aktif hale getirebilmek için mail adresinizi kontrol ediniz.</h1>
            </div>
        </div>
    </div>
</body>
</html>
