@model HC.Domain.Entities.Concrete.AppUser
@{
    ViewData["Title"] = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Hello <strong>@Model.UserName!!</strong> Welcome to the Hotcat Membership page!
                </h2>
                <hr />
                <p>Please check your e-mail address to activate your membership.</p>
            </div>
        </div>
    </div>
</body>
</html>
