@model HC.Domain.Entities.Concrete.AppUser
@{
    ViewData["Title"] = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Üyeliğinizi aktif hale getirebilmek için  <a asp-action="Activation" asp-controller="Account" asp-route-id="@Model.Id"><strong>buraya</strong></a>

                </h2>

            </div>
        </div>
    </div>
</body>
</html>
