@model List<SubCategoryVM>

<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" href="/Home/index">
                    <i class="icon-dashboard"></i>
                    <span>Anasayfa</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span>Categories</span>
                </a>
                <ul class="sub">
                    <li><a asp-action="index" asp-controller="Home" asp-area="" asp-route-id="">All Menus</a></li>
                    @foreach (var item in Model)
                    {
                        <li class="sub-menu">
                            <a href="boxed_page.html">@item.CategoryName</a>
                            <ul class="sub">
                                <li><a asp-action="index" asp-controller="home" asp-area="" asp-route-id="@item.ID">@item.SubCategoryName</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-glass"></i>
                        <span>Admin Page</span>
                    </a>
                    <ul class="sub">
                        <li><a asp-area="admin" asp-controller="product" asp-action="index">Products</a></li>
                        <li><a asp-area="admin" asp-controller="category" asp-action="index">Categories</a></li>
                        <li><a asp-area="admin" asp-controller="subcategory" asp-action="index">SubCategories</a></li>
                        <li><a asp-area="admin" asp-controller="Employee" asp-action="index">Employees</a></li>
                        <li><a asp-area="admin" asp-controller="department" asp-action="index">Departments</a></li>
                        <li><a asp-area="admin" asp-controller="order" asp-action="index">Orders</a></li>
                        <li><a asp-area="admin" asp-controller="Role" asp-action="index">Assigned Role</a></li>
                    </ul>
                </li>
            }
            else if (User.IsInRole("Waiter") || User.IsInRole("Sales"))
            {
                <li>
                    <a asp-action="index" asp-controller="Home" asp-area="Waiter">
                        <i class="icon-bolt"></i>
                        <span>Waiter Page</span>
                    </a>
                </li>
            }
            else if (User.IsInRole("Purchase"))
            {
                <li>
                    <a asp-action="index" asp-controller="Home" asp-area="Purchase">
                        <i class="icon-bolt"></i>
                        <span>Purchase Page</span>
                    </a>
                </li>
            }
            <li>
                <a asp-action="AboutUs" asp-controller="Home" asp-area="">
                    <i class="icon-bookmark-empty"></i>
                    <span>About Us</span>
                </a>
            </li>
            <li>
                <a asp-action="Rezervation" asp-controller="Home" asp-area="">
                    <i class=" icon-phone-sign"></i>
                    <span>Rezervation</span>
                </a>
            </li>
        </ul>
    </div>
</aside>