@model List<HC.Application.Models.VM.DepartmentVM>

    <div>
        <ul>
        @foreach(var item in Model)
        {
            <li>
                @item.DepartmentName
            </li>
        }
        </ul>
    </div>